#!/usr/bin/env python
PACKAGE = "dq_robotics"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("kp_param",    double_t,    0, "A kp parameter",   0.3,   0, 2)
gen.add("ki_param",    double_t,    0, "A ki parameter",    0.0001, 0, 0.01)
gen.add("kd_param",    double_t,    0, "A kd parameter",    0.05,   0, 0.5)
gen.add("frequence_param",    double_t,    0, "A frequence parameter",    200,   0, 1000)
size_enum = gen.enum([ gen.const("stop",      int_t, 0, "stop tracking"),
                       gen.const("set",     int_t, 2, "set init pose"),
                       gen.const("track",      int_t, 3, "start tarking")],
                     "An enum to set size")

#gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)
gen.add("start_param",    int_t,    0, "A start parameter",    0,   0, 3, edit_method=size_enum)

exit(gen.generate(PACKAGE, "baxter_dq_control", "dqdynamic"))
