<?xml version="1.0" encoding="utf-8"?>

<launch>
    <arg name="marker" default="false"/>
    <arg name="keyboard" default="false"/>
    <arg name="joystick" default="false"/>
    <arg name="sim" default="false"/>
    <arg name="ikfast_marker" default="false"/>
    <arg name="ikfast_keyboard" default="false"/>
    <arg name="trac_ik_marker" default="false"/>

    <include if="$(arg sim)" file="$(find baxter_gazebo)/launch/baxter_world.launch">
        <arg name="gui" value="false"/>
    </include>

    <group if="$(arg marker)">
        <node name="end_effector_marker_control" pkg="end_effector_teleoperation_control" type="end_effector_marker_control" output="screen"/>
        <node name="end_effector_command_solver" pkg="end_effector_teleoperation_control" type="end_effector_command_solver.py" output="screen"/>
        <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find end_effector_teleoperation_control)/marker.rviz"/>
    </group>

    <group if="$(arg trac_ik_marker)">
        <node name="end_effector_marker_control" pkg="end_effector_teleoperation_control" type="end_effector_marker_control" output="screen"/>
        <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find end_effector_teleoperation_control)/marker.rviz"/>
        <node name="trac_ik_test" pkg="end_effector_teleoperation_control" type="trac_ik_test" output="screen" args="-d $(find end_effector_teleoperation_control)/marker.rviz"/>
    </group>

    <group if="$(arg ikfast_marker)">
        <node name="end_effector_marker_control_ikfast" pkg="end_effector_teleoperation_control" type="end_effector_marker_control_ikfast" output="screen"/>
        <node name="end_effector_command_solver_ikfast" pkg="end_effector_teleoperation_control" type="end_effector_command_solver_ikfast" output="screen"/>
        <node name="end_effector_command_solver_ikfast_right" pkg="end_effector_teleoperation_control" type="end_effector_command_solver_ikfast_right" output="screen"/>
        <node name="end_effector_command_solver_ikfast_left" pkg="end_effector_teleoperation_control" type="end_effector_command_solver_ikfast_left" output="screen"/>
        <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find end_effector_teleoperation_control)/marker.rviz"/>
    </group>

    <group if="$(arg keyboard)">
        <node name="end_effector_command_solver" pkg="end_effector_teleoperation_control" type="end_effector_command_solver.py" output="screen"/>
        <node name="control_command_subscriber" pkg="end_effector_teleoperation_control" type="control_command_subscriber.py" output="screen"/>
        <node name="end_effector_keyboard_control" pkg="end_effector_teleoperation_control" type="end_effector_keyboard_control.py" output="screen"/>
    </group>

    <group if="$(arg ikfast_keyboard)">
        <node name="end_effector_command_solver_ikfast" pkg="end_effector_teleoperation_control" type="end_effector_command_solver_ikfast" output="screen"/>
        <node name="end_effector_command_solver_ikfast_left" pkg="end_effector_teleoperation_control" type="end_effector_command_solver_ikfast_left" output="screen"/>
        <node name="end_effector_command_solver_ikfast_right" pkg="end_effector_teleoperation_control" type="end_effector_command_solver_ikfast_right" output="screen"/>
        <node name="ikfast_transform" pkg="end_effector_teleoperation_control" type="ikfast_transform.py" output="screen"/>
        <node name="keyboard_control" pkg="end_effector_teleoperation_control" type="keyboard_control.py" output="screen"/>
    </group>

    <node name="end_effector_trajectory_client" pkg="end_effector_teleoperation_control" type="end_effector_trajectory_client.py" output="screen"/>

</launch>
